
.movie-card {
    /* min-width: 300px !important;  */
    /* height: 550px !important; */
    margin: 1rem;
    /* justify-content: space-around; */
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    /* overflow-x: scroll; */
  
    &:hover {
      transform: scale(1.05);
    }
  
    .card-img-top {
      border-radius: 8px 8px 0 0;
    }
  
    .card-body {
      background-color: #f8f9fa;
    }
  
    .card-title {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  
    .card-text {
      font-size: 0.9rem;
      margin-bottom: 0.2rem;
    }
  
    button {
      margin-top: 1rem;
    }
  }
  